NODE_ID=node1
NODE_HOST=0.0.0.0
NODE_PORT=8001

CLUSTER_NODES=http://node1:8001,http://node2:8002,http://node3:8003

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

API_KEY=distributed-secret-key
LOG_LEVEL=INFO