# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Environment
.env

# Redis / logs
*.log
dump.rdb

# Test / cache
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.pid

# PDF temporary
*.tmp